<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 white-box cstm-white-box">
    <h1 class="text-center">Create Document</h1>
    <%= render 'form', customer: @customer %>
  </div>
</div>
<%= link_to 'Back', customers_path %>
